* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.photo img{
  width: 100%;
  display: block;
}

.footer {
	background-color: lightblue;
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.encabezado {
	display: flex;
	height: 100px;
}

.titulo {
	display: flex;
	justify-content: center; 
	align-items: center;
	color: white;
	background-color: plum;
	width: 100%;
}

.titulo div {
	text-align: center;
}

.menu1 {
	display: flex;
	background-color: mediumorchid;
	justify-content: space-around;
	align-items: center;
	border: 1px solid white;
	height: 50px;
}


ul {
	list-style: none;
}

.segunda{
	text-align: justify;
	width: 700px;
	box-sizing: none;
	margin: 0 auto;
	
}

.contenido {
	display: flex;
	background-color: pink;
		
}
.b1{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	border: 1px solid white;
	width: 400px;
	height: 700px;
	border-radius: 5px;
	background-color:lightgreen ;
}

.medio {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: pink;
	margin: 100px;
	font-style: italic;
}

.med {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 100px;
	font-style: italic;
}

h1{
	color: vhite;
	margin: 50px;
}

h2{
	color: grey;
	font-style: monospace;
}

.button{
	color:black;
	background-color:mediumorchid ;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border: 1px solid #5D6063;
	border-radius: 5px;
	width: 150px;
	margin: 10px auto;
}

.separador{
	background-color: white;
	/*padding: 5px;*/
	border: 2px solid palevioletred;
	border-radius: 10px;
	width: 500px;
	margin: 5px auto;
}

a:link{
	color: black;
	text-decoration: none;
}

a:visited{
	color:purple;
}

a:hover{
	color:grey;
	text-decoration: underline;
}

a:active{
	color: red;
}

.button:hover, .button:visited:hover{
	color:#fff;
	background-color: thistle;
}

.button:active, .botton:visited:active{
	color:#FFF;
	background-color: plum;
}

.lista{
	text-align: justify;
	width: 250px;
	box-sizing: none;
	margin: 0 auto;
	
}
.dcontenido {
    margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: pink;
}

.ccontenido {
    margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content:space-around;
	flex-direction:row;
	flex-wrap: wrap;
	background-color: pink;
}

.d1{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border: 1px solid white;
	width: 600px;
	height: 700px;
	border-radius: 5px;
	background-color:lightsalmon ;
}

.c1{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	border: 2px solid white;
	width: 600px;
	height: 500px;
	border-radius: 5px;
	background-color: palevioletred ;
}


@media only screen and (max-width: 400px) {
  .menu1{
  	height: 100px;
  	flex-direction: column;
  }

  p{
	font-family: monospace;
	}
  
  .b1{
   	justify-content: space-around;
   	background-color: salmon;
   	width: 375px;
   	height: 500px;

  }
  
  .c1{
   	justify-content: space-around;
   	background-color: palegreen;
   	width: 375px;
   	height: 500px;

  }
  .contenido{
  	flex-direction: column;
  	

  }
  
  body{
  	flex-wrap: wrap;/*si se termina el espacio los manda abajo*/
  }
  .footer{
  	flex-direction: column;
  }

  .medio{
  	width: 250px;
  }
  .med{
  	width: 250px;
  }
  .segunda{
  	width: 250px;
  }
  .separador{
  	width: 100px;
  }
  .dcontenido{
  	flex-direction: column;
  }
}
